.DS_Store
*~

.vim
.env
target
.idea
**/Cargo.lock

/data
tokenizers/data
bindings/python/tests/data
docs/build/
docs/make.bat

__pycache__
pip-wheel-metadata
*.egg-info
*.so
/bindings/python/examples/.ipynb_checkpoints
/bindings/python/build
/bindings/python/dist

.vscode
*.code-workspace

bindings/c/tests/models
bindings/c/tests/data
bindings/c/lib
bindings/c/swift/Tokenizers/Lib/TokenizersC.xcframework
